.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.pre-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #555555;
  text-transform: uppercase;
}
.pre-text::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #303030;
  vertical-align: middle;
  margin-right: 20px;
}

.pre-text--gray {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #555555;
  text-transform: uppercase;
}
.pre-text--gray::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  vertical-align: middle;
  margin-right: 20px;
}

.section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  font-family: "Raleway", sans-serif;
}

.section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 1280px) {
  .section-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  padding-top: 40px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    padding-left: 16px;
  }
}

.logo__icon {
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    fill: #303030;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  color: #ffffff;
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding-top: 28px;
  }
}

.nav-site {
  display: flex;
  align-items: center;
}

.nav-site__list {
  display: none;
  padding-left: 23px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-site__list {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .nav-site__list {
    padding-left: 35px;
    padding-top: 0;
    align-items: center;
  }
}

.nav-site__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1280px) {
  .nav-site__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-site__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-site__link:hover, .nav-site__link:focus {
  color: #ff6c00;
}

.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    text-align: center;
    padding-right: 2px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .header__contacts {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header__tel {
    margin-right: 40px;
    margin-top: 0;
  }
}

.btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}
.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
  cursor: pointer;
}

.btn--whitecolor {
  color: #ffffff;
}

.menu-toggle {
  padding-top: 48px;
  fill: #fff;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background: rgba(25, 28, 38, 0.2);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/img/hero/hero-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/hero-mob@2x.jpg);
  }
}

.hero__container {
  display: flex;
}

.hero__main {
  flex-grow: 1;
  padding-top: 208px;
  padding-bottom: 183px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__main {
    background: rgba(25, 28, 38, 0.2);
    padding-top: 280px;
    padding-bottom: 183px;
    padding-left: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/img/hero/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__main {
    padding-top: 272px;
    padding-left: 95px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/img/hero/hero-desk.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/hero-desk@2x.jpg);
  }
}

.hero__left {
  width: 85px;
  height: 680px;
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__left {
    width: 100px;
  }
}

.hero__list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
}
.hero__list::before {
  content: "";
  display: block;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
  margin-right: 40px;
}

.hero__item:first-child {
  margin-right: 40px;
}

.hero__link {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero__link:hover, .hero__link:focus {
  color: #ff6c00;
}

.hero__pre-text {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 40px;
}
@media screen and (min-width: 400px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 300px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 18px;
    width: 375px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 18px;
    max-width: 500px;
  }
}

.about__container {
  display: flex;
}

.about__thumb {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__thumb {
    display: block;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__thumb {
    display: flex;
    margin-right: 64px;
  }
}

.about__item + .about__item {
  margin-top: 30px;
}
@media screen and (min-width: 1280px) {
  .about__item + .about__item {
    margin: 0;
    margin-left: 30px;
  }
}

.about__content {
  max-width: 330px;
}
@media screen and (min-width: 1280px) {
  .about__content {
    max-width: 500px;
  }
}

.about__pre-text {
  color: #303030;
  margin-bottom: 20px;
}

.about__section-title {
  font-size: 28px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .about__section-title {
    font-size: 42px;
  }
}

.about__section-subtitle {
  margin-bottom: 20px;
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.services {
  background-color: #111319;
  background-image: url(/img/service/service-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .services {
    background-image: url(/img/service/service-tab.png);
  }
}
@media screen and (min-width: 1280px) {
  .services {
    background-image: url(/img/service/service-desk.png);
  }
}

.services__section-title {
  margin-bottom: 44px;
  color: #ffffff;
}

.services__pre-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .services__item {
    flex-wrap: wrap;
  }
}

.services__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .services__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.services__line {
  width: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.5);
  margin-right: 6px;
  margin-left: 6px;
}

.services__wrapper {
  padding: 30px;
  margin-bottom: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .services__wrapper {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .services__wrapper {
    display: flex;
    padding: 0;
  }
}
@media screen and (max-width: 1279px) {
  .services__wrapper {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.services__list-left,
.services__list-right {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .services__list-left,
.services__list-right {
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .services__list-left {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1280px) {
  .services__list-right {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services__btn {
  margin: 0 auto;
}

.features__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .features__container {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .features__list {
    width: 370px;
    margin-right: 130px;
    margin-left: 0;
  }
}

.features__item {
  width: 100%;
  height: 133px;
  padding: 20px 32px;
  margin-bottom: 15px;
  text-align: center;
  background: #f7f7f7;
}
@media screen and (min-width: 480px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  .features__item:nth-child(even) {
    margin-top: 30px;
  }
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .features__item {
    padding: 20px 20px;
  }
}

.features__content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__content {
    max-width: 500px;
  }
}

.features__pre-text {
  color: #303030;
  margin-bottom: 20px;
}

.features__topic--first {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.features__topic--first::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ff6c00;
  vertical-align: top;
}

.features__topic--second {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

.features__section-title {
  margin-bottom: 20px;
}

.features__section-subtitle {
  margin-bottom: 44px;
  font-size: 18px;
}
@media screen and (min-width: 1280px) {
  .features__section-subtitle {
    margin-bottom: 0;
  }
}

.team {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team__container {
    padding: 0 159px;
  }
}

.team__section-title {
  margin-bottom: 44px;
}

@media screen and (min-width: 1280px) {
  .team__list {
    display: flex;
    margin: -15px;
  }
}

.team__item {
  width: 100%;
  background: #f7f7f7;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  .team__item:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .team__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.team__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.team__pre-text {
  margin-bottom: 20px;
  line-height: 1.91;
}

.team__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.team__profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.social {
  width: 206px;
  display: inline-flex;
  justify-content: space-between;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #303030;
  background-color: #ffffff;
}
.social__link:hover, .social__link:focus {
  fill: #ff6c00;
}

.portfolio__pre-text {
  margin-bottom: 44px;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__item {
  width: 100%;
}
.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio__item {
    flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.contacts-wrapper {
  background: #191c26;
  background-image: url(/img/contacts/contactsBg-mob.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
}
@media screen and (min-width: 600px) {
  .contacts-wrapper {
    background-image: url(/img/contacts/contactsBg-tab.png);
  }
}
@media screen and (min-width: 1280px) {
  .contacts-wrapper {
    background-image: url(/img/contacts/contactsBg-desk.png);
    background-size: 50% auto;
    background-position: right center;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-wrapper .container {
    display: flex;
  }
}

.online {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .online {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .online {
    width: 50%;
  }
}

.online__section-title {
  margin-bottom: 44px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .online__form {
    display: flex;
    flex-wrap: wrap;
  }
}

.online__input,
.online__textarea {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  color: #ffffff;
  outline: none;
}
.online__input:focus,
.online__textarea:focus {
  border-bottom: 1px solid #ffffff;
}
.online__input:focus::-moz-placeholder, .online__textarea:focus::-moz-placeholder {
  color: #ffffff;
}
.online__input:focus:-ms-input-placeholder, .online__textarea:focus:-ms-input-placeholder {
  color: #ffffff;
}
.online__input:focus::placeholder,
.online__textarea:focus::placeholder {
  color: #ffffff;
}
.online__input::-moz-placeholder, .online__textarea::-moz-placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  -moz-transition: color 500ms linear;
  transition: color 500ms linear;
}
.online__input:-ms-input-placeholder, .online__textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  -ms-transition: color 500ms linear;
  transition: color 500ms linear;
}
.online__input::placeholder,
.online__textarea::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  transition: color 500ms linear;
}

@media screen and (min-width: 768px) {
  .online__input {
    width: 47%;
    margin-bottom: 33px;
  }
  .online__input:first-child {
    margin-right: 30px;
  }
}

.online__textarea {
  resize: none;
}

@media screen and (max-width: 767px) {
  .online__btn {
    margin: 0 auto;
  }
}

.contacts {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding: 130px 100px;
    width: 50%;
    text-align: left;
  }
}

.contacts__section-title {
  margin-bottom: 40px;
  color: #ffffff;
}

.address {
  font-style: normal;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .address {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .address {
    display: block;
  }
}

.address__list {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .address__list {
    margin-right: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .address__list {
    margin-right: 0;
  }
}

.address__item {
  display: block;
  margin-bottom: 20px;
}

.address__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.address__icon {
  margin-right: 16px;
  vertical-align: middle;
}

.address__pre-text {
  color: #ffffff;
  margin-bottom: 20px;
}
.address__pre-text::before {
  background: rgba(157, 164, 189, 0.4);
}

.address__time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  background-color: #f7f7f7;
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 44px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.copyright {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer__list {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

.footer__item:first-child {
  margin-right: 40px;
}
.footer__item:first-child::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #303030;
  vertical-align: middle;
  margin-right: 40px;
}

.footer__link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */