.about-us__container {
  display: flex;
}

.about-us__thumb {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    margin-right: 64px;
  }
}

.about__item + .about__item {
  margin-top: 30px;
  @media screen and (min-width: 1200px) {
    margin: 0;

    margin-left: 30px;
  }
}

.about__content {
  max-width: 330px;
  @media screen and (min-width: 1200px) {
    max-width: 500px;
  }
}

.about__pre-text {
  color: $title-text-color;
  margin-bottom: 20px;
}

.about__section-title {
  font-size: 28px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 42px;
  }
}

.about__section-subtitle {
  margin-bottom: 20px;
}

.about__text {
  @include text(400, 14px, 1.86, 0.02em, $main-text-color);
  margin-bottom: 38px;
}
