.btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $title-text-color;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $text-accent-first-color;
    background-color: $text-orange-color;
    cursor: pointer;
  }
}

.btn--whitecolor {
  color: $text-accent-first-color;
}
