.contacts {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    padding: 130px 100px;
    width: 50%;
    text-align: left;
  }
}
.contacts__section-title {
  margin-bottom: 40px;
  color: $text-accent-first-color;
}

.address {
  font-style: normal;
  text-align: left;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.address__list {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    margin-right: 100px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.address__item {
  display: block;
  margin-bottom: 20px;
}

.address__link {
  @include text(400, 18px, 1.67, 0.02em, $text-accent-second-color);
}

.address__icon {
  margin-right: 16px;
  vertical-align: middle;
}

.address__pre-text {
  color: #ffffff;
  margin-bottom: 20px;
  &::before {
    background: rgba(157, 164, 189, 0.4);
  }
}

.address__time {
  @include text(400, 18px, 1.67, 0.02em, $text-accent-second-color);
}
