.features__container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}

.features__content {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
}

.features-text {
  width: 500px;
  display: block;
}

.features__pre-text {
  color: $title-text-color;
  margin-bottom: 20px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;

  @media screen and (min-width: 768px) {
    width: 450px;
    align-self: end;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    align-self: start;
    margin-right: 130px;
  }
}

.features__item {
  width: 100%;
  padding: 20px 36px;
  margin-bottom: 15px;
  text-align: center;
  background: #f7f7f7;

  @media screen and (min-width: 480px) {
    width: calc((100% - 60px) / 2);
    height: 133px;

    &:nth-child(even) {
      margin-top: 30px;
    }
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
}

.features__topic--first {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $title-text-color;
  &::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ff6c00;
    vertical-align: top;
  }
}

.features__topic--second {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: $title-text-color;
}

.features__section-title {
  margin-bottom: 20px;
}

.features__section-subtitle {
  margin-bottom: 74px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
