.contacts-wrapper {
  background: #191c26;
  background-image: url(/img/contacts/contactsBg-mob.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;

  @media screen and (min-width: 600px) {
    background-image: url(/img/contacts/contactsBg-tab.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(/img/contacts/contactsBg-desk.png);
    background-size: 50% auto;
    background-position: right center;
  }

  .container {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.online {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}

.online__section-title {
  margin-bottom: 44px;
  color: $text-accent-first-color;
}

.online__form {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.online__input,
.online__textarea {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  color: #ffffff;
  outline: none;
  &:focus {
    border-bottom: 1px solid #ffffff;
    &::placeholder {
      color: #ffffff;
    }
  }
  &::placeholder {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    color: rgba(157, 164, 189, 0.4);
    transition: color 500ms linear;
  }
}

.online__input {
  @media screen and (min-width: 768px) {
    width: 47%;
    margin-bottom: 33px;
    &:first-child {
      margin-right: 30px;
    }
  }
}

.online__textarea {
  resize: none;
}

.online__btn {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
}
