.portfolio__pre-text {
  margin-bottom: 44px;
  color: $title-text-color;
}
.portfolio__list {
  @media screen and (min-width: 960px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 960px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
