body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
  // outline: 1px dotted red;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.pre-text {
  @include text(600, 11px, 1.36, 0.1em, $main-text-color);
  text-transform: uppercase;
  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background: $title-text-color;
    vertical-align: middle;
    margin-right: 20px;
  }
}

.pre-text--gray {
  @include text(600, 11px, 1.36, 0.1em, $main-text-color);
  text-transform: uppercase;
  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);
    vertical-align: middle;
    margin-right: 20px;
  }
}

.section-title {
  @include text(700, 42px, 1.17, 0.05em, $title-text-color);
  font-family: 'Raleway', sans-serif;
}

.section-subtitle {
  @include text(400, 16px, 1.62, 0.02em, $main-text-color);
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.67;
  }
}
