$title-text-color: #303030;
$main-text-color: #555555;
$text-accent-first-color: #ffffff;
$text-accent-second-color: #9da4bd;
$text-orange-color: #ff6c00;
$main-background-color: #ffffff;
$accent-background-color: #f7f7f7;
